.clubbox {
	border-radius: 30px;
	width: 50%;
	vertical-align: top;
}

.clubicon {
	margin-right: 2%;
}

.clubtitle{
	width: 30%;
}

fieldset{
	margin-bottom: 5% !important;
}

.actionicon{
	margin-top: 5%;
	float: left;
}

#uploader {
	-webkit-appearance: none;
	appearance: none;
	width: 40%;
	margin-bottom: 10px;
	margin-top: 10px;
	height: 20px;
}

/*
-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
SPECIFIC CLUB PAGE
-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
*/

.stattext {
	font-size: 4em !important;
}

.joinclubbutt {
	border-radius: 10px !important;
}

.clubstats {
	width: 100%;
	border-width: 2px !important;
	border-color: black !important;
}

.clubcoverphoto {
	border-radius: 20px;
	width: 90%;
}

.clubdesctiption {
	display: block;
}

.statbox {
	display: block;
}

p {
	margin-left: 3% !important;
	margin-top: 3% !important;
	font-size: 2em;
}

/*WEEKDAY CALENDAR*/
.weekday {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	height: 150px;
	width: 200px;
	margin-bottom: 2px;
	border: 3px solid #cccccc;
	text-align: center;
	font-size: 2em;
	vertical-align: top;
}

.filledweekday {
	background-color: #00ff00
}

