#dock {
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	height: 70px;
}

.dockicon {
	width: 20%;
	padding-top: 1%;
}

.dockimg {
	display: block;
	margin: auto;
}

.pagetitle {
	margin-left: 3%;
}

.scrollbox {
	margin:3%;
	overflow-y:auto;
	height: 100%;
}

.clubbox {
	border-radius: 30px;
	width: 50%;
	vertical-align: top;
}

.clubicon {
	margin-right: 2%;
}

/*
-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
SPECIFIC CLUB PAGE
-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
*/

.pagecontent {
	margin-left: 5%;
}

.joinclubbutt {
	border-radius: 10px !important;
}

.clubstats {
	width: 100%;
}

.clubdesctiption {
	display: block;
}

/*CLUB PAGE
-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
//////////////////////////////////////
-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
*/

.clubbubpage {
	height: 500px;
}


.messagebox {
	margin:3%;
	overflow-y:auto;
	height: 75%;
	width: 80%;
}

img{
	margin-right: 3%;
	float : left;
}

.actioniconbox{
	width: 50%;
}

.actionicon{
	margin-top: 5%;
	vertical-align: bottom;
	margin-right: 5%;
	float: right;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
    padding: 2px 16px;
    background-color: #008080;
    color: white;
}
/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}