#dock {
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	height: 70px;
}

.dockicon {
	width: 20%;
	padding-top: 1%;
}

.dockimg {
	display: block;
	margin: auto;
}

.pagetitle {
	margin-left: 3%;
}

.scrollbox {
	margin:3%;
	overflow-y:auto;
	height: 100%;
}

.clubbox {
	border-radius: 30px;
	width: 50%;
}

.clubicon {
	margin-right: 2%;
}

.clubbubpage {
	height: 500px;
}


.messagebox {
	margin:3%;
	overflow-y:auto;
	height: 100px;
	width: 1500px;
}

img{
	float : left
}