#profile_pic {
	width:75px;
	height:75px;
	border-radius:50px;
	vertical-align: top;
}
.a-112 {
	margin-bottom: 150px;
}

#first_column {
	width:100px;

}
p {
	font-size:16px !important;
	width:100% !important;
	margin:5px !important;
}
span {
	text-align:center;
}
#messagebox {
	height:180px;
	margin-left: 3%;
	margin-right: 3%;
	padding: 15px;
}
#second_column {
	vertical-align: top;
}

.feedcolumn {
	width: 80%;
}
