.messageboxpre {
	margin-right :0;
	margin-left : 0;
	margin-top : 0;
	margin-bottom : 0;
	height: 100vh;
	width: 30%;
	float : left;
	background-color: rgba(255, 255, 255, 1);
	position : absolute;
}

.groupbox {
	border-radius:0 !important;
	margin:0 !important;
}

.textboxholder {
	margin-top : 0;
	margin-left: 30%;
	float : left;
	overflow-y:scroll;
	height: 93.5vh;
	width: 70%;
}

.titlebox {
	margin-left : 32.5%;
	margin-top : 0;
	margin-bottom : 0;
	width : 100vh
	position : fixed;
	background-color: rgba(255, 255, 255, 1);
}

.textbox {
	padding: 2px;
	margin : 0px 0px;
    border-radius: 0px;
    border-left-width: 0px;
    box-shadow: 
    	0px 0px 2px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 255, 0.2);
}

.textboxself {
	padding: 2px;
    margin: 0px 0px;
    border-radius: 0px;
    border-left-width: 0px;
    box-shadow: 
    	0px 0px 2px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 255, 0.5);
}

img{
	margin-right: 3%;
	float : left;
}

input[type=text], select {
    width: 63.75%;
    padding: 6px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	position : fixed;
	left: 30%;
	top: 94.3vh;
}

.button {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	width : 5%;
	position: fixed; 
	left: 93.75%;
	top: 94.9vh;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

